discord.py[voice]
discord
PyNaCl
colorama
asyncio
pylint
requests
datetime
delete
profanity
tinydb
wheel
query
Style
Pillow
pyfiglet
async_timeout
timeout
partial
youtube_dl
find
counter
config
ksoftapi
aiohttp
dblpy